body {
    font-family: 'Source sans Pro', cursive;
    background-color: #eff0f1;
    margin: 0;
}
/* #3b3d4b */
.header{
    width: 100%;
    height: 95vh;
    background-color :#eff0f1;
}

.intro{
    width: 80%;
    position: relative;
    top: 30%;
    left: 12%;
}

.intro h1 {
    color:#3b3d4b;
    font-size: 70px;    
    font-weight: bolder;
    width: 40%;
}

.intro p{
    color:#3b3d4b;
    font-size:28px;
    font-weight:400;
    width: 60%;
    margin-top: -2%;
}

.nav{
    width: 100%;
    height: 20px;
    position: absolute;
    top:0;
    left:0;
    position: fixed;
    z-index: 1;
}

.nav ul{
    margin-right: 10%;
    text-align: right;
}
.nav li{
    list-style-type: none;
    display: inline-block;
    color: #000000;
    margin: 0 20px;
    line-height:80px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Source sans Pro';
    transition: all ease-in-out 0.6s;

}

.nav a {
    text-decoration: none;
    color: #000000;
}

.nav a:hover {
    color:#eff0f1;
}

.all-project {
    height: 130vh;
    width: 100%;
    background-color: #3b3d4b;
}

.project-title {
    position: relative;
    top: 4.5%;
    margin-left: 4.75%;
    font-size: 350%;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #eff0f1;
    
}

.project-title span {
    color: #eff0f1;
}

.project {
    position: relative;
    top: 3%;
    width: 86%;
    margin-left: 5.1%;
    display: flex;
    flex-flow: row wrap;
    justify-content : space-between;
}

.project img {
    margin-top: 4%;
}

.project a img {
    width : 116%;
}

.reveal4,
.reveal5,
.reveal6 {
    position: relative;
    top: 7%;
}

.about {
    height: 215vh;
    margin-top: -5%;
    background-color: #3b3d4b;
}

.sections {
    margin: 0 auto;
    width: 90%;
    color: #eff0f1;
    position: relative;
    top: 23vh;
}

section {
    border-top: 1px solid #eff0f1;
}

.aboutme {
    font-size: 350%;
    -webkit-text-stroke-color: #eff0f1;
}

.aboutme span {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #eff0f1;
}

.section h2 {
    position: relative;
    left: 15%;
    top: 1em;
    width: 30%;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #eff0f1;
    font-size: 300%;
}

.section span {
    color: #eff0f1;
}

.sections p {
    font-size: 140%;
    font-weight: 300;
    width: 35%;
    position: relative;
    left: 56%;
    bottom: 3.5em;
}

.section-4 p {
    bottom: 7em;
}

.section-3 p {
    bottom: 4.75em;
}

footer {
    margin-top: -3.5%;
    height: 50vh;
    background-color:#eff0f1 ;
}

.footer-content {
    margin: 0 auto;
    position: relative;
    height: 38vh;
    top: 11%;
    width: 90%;
    border-bottom: 1px solid #3b3d4b;
}

.footer-title {
    font-size: 350%;
    color: #3b3d4b;
}
/* 
.footer-title span {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3b3d4b;
} */

.footer-content section {
   position: relative;
   top: -5%;
}

.footer-content section p {
    font-size: 150%;
    color: #3b3d4b;
}

.footer-content a{
    text-decoration: none;
    color: #3b3d4b;
}