<table>
    <colgroup span="7" class="columns"></colgroup>
    <tr>
      <th class='n°'>N°</th>
      <th>Picture</th>
      <th>Name</th>
      <th>Type</th>
      <th>Height</th>
      <th>Weight</th>
      <th class='hp'>HP</th>
      <th>Attack</th>
      <th>Defense</th>
      <th>Special Attack</th>
      <th>Special Defense</th>
      <th>Speed</th>
    </tr>
    
    <tr>
      <td>{{ id }}</td>
      <td><img src="{{ sprites }}"></td>
      <td> {{ name }}</td>
      <td> {{ type }} {{ type2 }}</td>
      <td> {{ height }}</td>
      <td> {{ weight }}</td>
      <td> {{ hp }}</td>
      <td> {{ attack }}</td>
      <td> {{ defense }}</td>
      <td> {{ sattack }}</td>
      <td> {{ sdefense }}</td>
      <td> {{ speed }}</td>
    </tr>